:root{
  --color-black: #212121;
  --color-grey: #757575;
  --color-white: #FFFFFF;
  --color-backgraund-html: #F5F5F5;
  --color-backgraund-section: #FFFFFF;
  --color-background-main-footer: #2F303A;
  --color-backgraund-team: #F5F4FA;
}

html {
  background-color: var(--color-backgraund-html);
}
body {
  background-color: var(--color-backgraund-section);
  color: var(--color-black);
 }
html, body{
  height: 100%;
  min-width: 320px;
}

a{
	text-decoration: none;
}

li{
	list-style: none;
}

/*Навігація*/







/*Шапка*/

.main__page, .footer {
  background-color: var(--color-background-main-footer);
  color: var(--color-white);
}



/*Особливості*/



/*Чим ми займаємося*/



/*Наша команда*/
.team {
  background-color: var(--color-backgraund-team);
}

.our-team__itams {
  background-color: var(--color-backgraund-section);
}


/*Підвал*/




































